
.popup-overlay.popup-4 .footer .thumbs-container .thumb.current::after {
}
.theme-text-color-0 {
    color: #ffffff;
}
.theme-background-color-0 {
    background-color: #ffffff;
}
.theme-text-color-0-0 {
    color: #ffffff;
}
.theme-background-color-0-0 {
    background-color: #ffffff;
}
.theme-text-color-0-1 {
    color: #999999;
}
.theme-background-color-0-1 {
    background-color: #999999;
}
.theme-text-color-0-2 {
    color: #666666;
}
.theme-background-color-0-2 {
    background-color: #666666;
}
.theme-text-color-0-3 {
    color: #333333;
}
.theme-background-color-0-3 {
    background-color: #333333;
}
.theme-text-color-0-4 {
    color: #050505;
}
.theme-background-color-0-4 {
    background-color: #050505;
}
.theme-text-color-1 {
    color: #000000;
}
.theme-background-color-1 {
    background-color: #000000;
}
.theme-text-color-1-0 {
    color: #cccccc;
}
.theme-background-color-1-0 {
    background-color: #cccccc;
}
.theme-text-color-1-1 {
    color: #999999;
}
.theme-background-color-1-1 {
    background-color: #999999;
}
.theme-text-color-1-2 {
    color: #666666;
}
.theme-background-color-1-2 {
    background-color: #666666;
}
.theme-text-color-1-3 {
    color: #333333;
}
.theme-background-color-1-3 {
    background-color: #333333;
}
.theme-text-color-1-4 {
    color: #000000;
}
.theme-background-color-1-4 {
    background-color: #000000;
}
.theme-text-color-2 {
    color: #000000;
}
.theme-background-color-2 {
    background-color: #000000;
}
.theme-text-color-2-0 {
    color: #cccccc;
}
.theme-background-color-2-0 {
    background-color: #cccccc;
}
.theme-text-color-2-1 {
    color: #999999;
}
.theme-background-color-2-1 {
    background-color: #999999;
}
.theme-text-color-2-2 {
    color: #666666;
}
.theme-background-color-2-2 {
    background-color: #666666;
}
.theme-text-color-2-3 {
    color: #333333;
}
.theme-background-color-2-3 {
    background-color: #333333;
}
.theme-text-color-2-4 {
    color: #000000;
}
.theme-background-color-2-4 {
    background-color: #000000;
}
.theme-text-color-3 {
    color: #ffffff;
}
.theme-background-color-3 {
    background-color: #ffffff;
}
.theme-text-color-3-0 {
    color: #ffffff;
}
.theme-background-color-3-0 {
    background-color: #ffffff;
}
.theme-text-color-3-1 {
    color: #999999;
}
.theme-background-color-3-1 {
    background-color: #999999;
}
.theme-text-color-3-2 {
    color: #666666;
}
.theme-background-color-3-2 {
    background-color: #666666;
}
.theme-text-color-3-3 {
    color: #333333;
}
.theme-background-color-3-3 {
    background-color: #333333;
}
.theme-text-color-3-4 {
    color: #050505;
}
.theme-background-color-3-4 {
    background-color: #050505;
}
.theme-text-color-4 {
    color: #ffba00;
}
.theme-background-color-4 {
    background-color: #ffba00;
}
.theme-text-color-4-0 {
    color: #fff1cc;
}
.theme-background-color-4-0 {
    background-color: #fff1cc;
}
.theme-text-color-4-1 {
    color: #ffd666;
}
.theme-background-color-4-1 {
    background-color: #ffd666;
}
.theme-text-color-4-2 {
    color: #ffba00;
}
.theme-background-color-4-2 {
    background-color: #ffba00;
}
.theme-text-color-4-3 {
    color: #997000;
}
.theme-background-color-4-3 {
    background-color: #997000;
}
.theme-text-color-4-4 {
    color: #332500;
}
.theme-background-color-4-4 {
    background-color: #332500;
}
.theme-text-font-heading1 {
    font-family: Neuton Bold;
}
.theme-text-font-heading2 {
    font-family: Neuton Bold;
}
.theme-text-font-body1 {
    font-family: Neuton;
}
.theme-text-font-body2 {
    font-family: Neuton;
}
.mobile-desktop-mode .row-element.desc-row {
    margin-bottom: 5px;
}
.mobile-desktop-mode .row-element.root-row {
    margin-bottom: 10px;
}
.mobile-desktop-mode .design-element .cell-element {
    margin-right: 5%;
}
.mobile-desktop-mode .content-container.content-container-type.element-size-box.section-element-size-box {
    padding: 0 20px;
}
.mobile-desktop-mode .page-element-border-box {
    padding: 0;
}
.mobile-desktop-mode .row-element .cell-element-container {
    padding: 5px;
}
.mobile-desktop-mode .design-element .cell-element {
    vertical-align: middle;
}
.mobile-desktop-mode .design-element .cell-element {
    text-align: center;
}
.theme-text-style-title {
    color: #000000;
    font-family: Neuton Bold;
    font-size: 23px;
}
.theme-text-style-menu {
    color: #000000;
    font-family: Neuton;
    font-size: 20px;
}
.theme-text-style-pageTitle {
    color: rgb(51, 51, 51);
    font-family: Neuton Bold;
    font-size: 28px;
}
.theme-text-style-headingXL {
    color: #000000;
    font-family: Neuton Bold;
    font-size: 72px;
}
.theme-text-style-headingM {
    color: rgb(0, 0, 0);
    font-family: Neuton Bold;
    font-size: 22px;
}
.theme-text-style-headingL {
    color: #000000;
    font-family: Neuton Bold;
    font-size: 48px;
}
.theme-text-style-headingS {
    color: #000000;
    font-family: Neuton Bold;
    font-size: 20px;
}
.theme-text-style-bodyL {
    color: #000000;
    font-family: Neuton;
    font-size: 19px;
}
.theme-text-style-bodyM {
    color: #000000;
    font-family: Neuton;
    font-size: 15px;
}
.theme-text-style-bodyS {
    color: #000000;
    font-family: Neuton;
    font-size: 14px;
}
.theme-text-style-bodyXS {
    color: #000000;
    font-family: Neuton;
    font-size: 10px;
}

